* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans SC', sans-serif;
}
main {
    width: 1100px;
    padding: 0.5em 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search {
    width: 100%;
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}
.search img {
    width: 50px;
    height: auto;
}
.search input {
    width: 50%;
    height: 50px;
    padding: 0.5em 1em;
    border-radius: 10px;
}

.search input:focus {
    background-color: rgb(250, 216, 220);
    outline: none;
}

.search button {
    padding: 0.2em 1em;
    width: 100px;
    background-color: #ff4500;
    font-size: 1em;
    font-weight: bolder;
    color: white;
    border-radius: 10px;
    font-family: 'Encode Sans SC', sans-serif;
}

.content{
    display:flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: rgb(250, 216, 220); */
    background-color: #E8F1F2;
    padding: 1em;
    border-radius: 10px;
}

.stream {
    width: 70%;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
}

.subs {
    width: 25%;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
}

.sublist {
    width: inherit;
    height: auto;
    display: flex;
    padding: 1em 0.2em;
    margin: 1em a;
    width: inherit;
    flex-direction: row;
}

.sublist li {
    border-radius: 10px;
    list-style-type: none;
    padding: 1em 0.5em;
    display: flex;
    justify-content: space-between;

}

.sublist li:hover{
    background-color: rgba(226, 224, 201, 1);
}


.sublist h6 {
    font-size: 1em;
    margin: 0 0.5em;
    padding: 0.1em;
    display: inline-block;
}
.sublist img {
    border-radius: 50%;
    width: 30px;
    height: auto;
}

article {
    background-color: #E8F1F2;
    width: 90%;
    margin: 2.5em auto;
    border-radius: 10px;
    border: 1px solid #2D3047;
}

.top {
    display: flex;
    border-radius: 10px 10px 0 0;
    justify-content: space-between;
    align-items: center;
    background-color: #2D3047;
    border: none;
    color: white;
    padding: 0.5em;
}

.top h3 {
    padding: 0.3em;
}
.top h3:hover {
    border-radius: 10px;
    background-color: rgb(172, 236, 252);
    color: #2D3047;
}

.top .counter{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top .counter img {
    padding: 0.1em 0.3em;
    width: 20px;
    height: auto;
    outline: black;
}

.top .counter h4 {
    font-size: 1em;
    font-weight: lighter;
    padding: 0.1em 0.4em;
}

.top .counter i:hover {
    border-radius: 50%;
    background-color: rgb(172, 236, 252);
    color: #2D3047;
}

.mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    padding: 1em;
}

.mid p {
    font-size: 2em;
    margin: 1em 0;
}

.mid img {
    max-width: 100;
    height: auto;
    display: block;
}

.bottom {
    display: flex;
    /* border-radius: 0 0 10px 10px; */
    border-radius: inherit;
    justify-content: space-between;
    align-items:center;
    background-color: #2D3047;
    border: none;
    color: white;
    padding: 0.4em;
}
.bottom small {
    color:rgb(40, 212, 255)
}
.comments {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comments h5 {
    font-size: 1.4em;
    margin: 0.2em;
}

.comments small {
    font-size: 1em;
}

.comments i {
    font-size: 1.2em;
    margin: 0 0.2em;
    padding: 0.2em
}

.comments i:hover {
    border-radius: 50%;
    background-color: rgb(172, 236, 252);
    color: #2D3047;
}

.combined {
    /* display: flex; */
    padding: 1em 0;
    height: auto;
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
    align-items:center;
    background-color: #2D3047;
    border: none;
    /* color: white;
    padding: 0.4em; */
}

.comment {
    background-color: #fff;
    padding: 0.4em;
    margin: 1em 1em 0 1em;
    border-radius: 10px;
    border: 1px solid #2D3047;
}

.deets {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: 1px solid #2D3047;
}

.comment-body {
    padding: 0.5em;
    width: inherit;
    overflow-wrap: break-word;

}

.upvoted {
    color: rgb(0, 245, 253);
}

.downvoted {
    color:rgb(250, 3, 188)
}

.skeleton {
    width: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skel-item {
    margin: 1em auto;
    width: 90%;
}

@media only screen and (max-width: 1024px) {
    main{
        width: 90%;
    }
    .content {
        flex-direction: column;
    }
    .stream {
        width: 90%;
        margin: 0 auto;
    }
    .subs {
        width: 90%;
        margin: 0 auto;
        margin-top: 1em;
    }

}